{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    {% include 'alerts.html' %}
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'folder/10.png' %}" alt=""  height="200">
        <div class="card-img-overlay">
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">ibgrvnforin</h4>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'folder/9.jpg' %}" alt="" height="200">
        <div class="card-img-overlay">
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">ibgrvnforin</h4>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'folder/8.jpg' %}" alt="" height="200">
        <div class="card-img-overlay">
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">ibgrvnforin</h4>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'folder/7.jpg' %}" alt=""  height="200">
        <div class="card-img-overlay">
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">ibgrvnforin</h4>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'folder/4.jpg' %}" alt=""  height="200">
        <div class="card-img-overlay">
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">ibgrvnforin</h4>
          </div>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card listing-preview">
        <img class="card-img-top" src="{% static 'folder/2.jpg' %}" alt="" height="200">
        <div class="card-img-overlay">
        </div>
        <div class="card-body">
          <div class="listing-heading text-center">
            <h4 class="text-primary">ibgrvnforin</h4>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}