{% extends 'users/users_base.html' %}
{% load static %}
{% block title %} | {{ users.first_name }} & {{ users.fiance_first_name }} {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    {% include 'users/side_nav.html' %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
<!--      <form method="post">-->
<!--        {% csrf_token %}-->
<!--        <input class="form-control form-control-light w-100" type="text" placeholder="Search" aria-label="Search">-->
<!--        <input class="form-control " type="submit" value="Search">-->
<!--      </form>-->
      {% include 'alerts.html' %}
      {% if 'vendors' in request.path %}
        {% include 'users/vendors.html' %}
      {% endif %}
      {% if 'users_vendor' in request.path %}
        {% include 'users/vendor.html' %}
      {% endif %}
      {% if 'chats' in request.path %}
        {% include 'users/users_chat.html' %}
      {% endif %}
      {% if 'check_list' in request.path %}
        {% include 'users/users_check_list.html' %}
      {% endif %}
      {% if 'appointments' in request.path %}
        {% include 'users/appointments.html' %}
      {% endif %}
      {% if 'bookings' in request.path %}
        {% include 'users/bookings.html' %}
      {% endif %}
      {% if 'budget' in request.path %}
        {% include 'users/users_budget.html' %}
      {% endif %}
      {% if 'all_b' in request.path %}
        {% include 'users/users_all_budgets.html' %}
      {% endif %}
      {% if 'upload' in request.path %}
        {% include 'users/users_upload.html' %}
      {% endif %}
      {% if 'gallery' in request.path %}
        {% include 'users/users_gallery.html' %}
      {% endif %}
      {% if 'account' in request.path %}
        {% include 'users/account.html' %}
      {% endif %}
      {% if 'notification' in request.path %}
        {% include 'users/notifications.html' %}
      {% endif %}
    </main>
  </div>
</div>
{% endblock %}