{% load static %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'users_home' users.slug %}">
    {{ users.first_name }} & {{ users.fiance_first_name }}
  </a>
  <input type="hidden" value="{{ users.wedding_date }}" id="wedding_date">
  <h4 style="color: wheat">Wedding Date: {{ users.wedding_date }}</h4>
  <h6 style="color: white" id="countdown"></h6>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="javascript:{document.getElementById('logout').submit()}">
        <i class="fa fa-sign-out-alt"></i>
        Sign out</a>
      <form action="{% url 'logout' %}" method="post" id="logout">
        {% csrf_token %}
        <input type="hidden">
      </form>
    </li>
  </ul>
</nav>

<script>
  function modifyDate(wed_date){
    let x = wed_date.toString().split(' ');
    switch (x[0]) {
      case 'Jan.':
        x[0] = 'January';
        break;
      case 'Feb.':
        x[0] = 'February';
            break;
      case 'Aug.':
        x[0] = 'August';
        break;
      case 'Sept.':
        x[0] = 'September';
        break;
      case 'Oct.':
        x[0] = 'October';
        break;
      case 'Nov.':
        x[0] = 'November';
        break;
      case 'Dec.':
        x[0] = 'December';
        break;
    }
    return x.join(' ');
  }
  let wed_date = document.getElementById('wedding_date');
  wed_date.value = modifyDate(wed_date.value);
  let endDate = new Date(wed_date.value);
  let _second = 1000;
  let _minute = _second * 60;
  let _hour = _minute * 60;
  let _day = _hour * 24;
  let timer;
  function remainingDate(){
    let now = new Date();
    let distance = endDate-now;
    if (distance < 0) {
      clearInterval(timer);
      document.getElementById('countdown').innerHTML = 'Your wedding date has been passed';
      return;
    }
    let days = Math.floor(distance / _day);
    let hours = Math.floor((distance % _day) / _hour);
    let minutes = Math.floor((distance % _hour) / _minute);
    let seconds = Math.floor((distance % _minute) / _second);

    document.getElementById('countdown').innerHTML = days + ' days ';
    document.getElementById('countdown').innerHTML += hours + ' hrs ';
    document.getElementById('countdown').innerHTML += minutes + ' mins ';
    document.getElementById('countdown').innerHTML += seconds + ' secs';

  }
  timer = setInterval(remainingDate, 1000);
</script>